
.table-container .row {
  border-top: solid 1px #ccc;
}

.table-container .row:last-child {
  border-bottom: solid 1px #ccc;
}

.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5, .navbar-brand {
    font-family: "Roboto", "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}
