// File: custom.scss

// $web-font-path: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap" !default;

$web-font-path: "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" !default;

@import url($web-font-path);
@import './bootswatch_variables.scss';

body {
  -webkit-font-smoothing: antialiased;
}

.b-table-sticky-header {
  border: solid 1px $gray-300;
}


// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

